.footer {
  background-color: #131313;
  color: white;
  padding: 20px;
  z-index: 9999;
}

.foot-container {
  max-width: 2000px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.footer-col-1,
.footer-col-2,
.footer-col-3 {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.footer-col-1 {
  flex: 1;
  text-align: left;
  font-size: 18px;
}

.footer-col-2 img {
  width: 180px;
  height: auto;
}

.thank-you {
  color: gray;
  font-size: 20px;
}

.footer-col-3 h2,
.footer-col-1 h2 {
  color: white;
}

.footer-col-3 p {
  margin: 5px 10px;
  font-size: 30px;
  display: inline-block;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
  color: orange;
}

/* Responsive styles for screens below 768px */
@media (max-width: 768px) {
  .foot-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-col-1,
  .footer-col-2,
  .footer-col-3 {
    text-align: center;
    margin-bottom: 12px; /* Reduced spacing between sections */
    padding: 6px; /* Reduced padding */
  }

  .footer-col-1 {
    font-size: 11px; /* Reduced font size */
  }

  .footer-col-2 img {
    width: 108px; /* Reduced logo size */
  }

  .thank-you {
    font-size: 12px; /* Reduced font size */
  }

  .footer-col-3 h2,
  .footer-col-1 h2 {
    font-size: 16px; /* Reduced header font size */
  }

  .footer-col-3 p {
    margin: 3px 6px; /* Reduced margin */
    font-size: 18px; /* Reduced font size for icons */
  }

  .footer a {
    font-size: 12px; /* Reduced link font size */
  }
}
